@font-face {
    font-family: "Granainalimpia";
    src: url('granaina-limpia.eot');
    src: url('granaina-limpia.eot?#iefix') format('embedded-opentype'),
         url('granaina-limpia.woff') format('woff'),
         url('granaina-limpia.ttf') format('truetype'),
         url('granaina-limpia.svg#Granainalimpia') format('svg');
    font-weight: normal;
    font-style: normal;

}
